.contactContainer {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.p {
  font-weight: 500;
  font-size: large;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
