.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 10%;
  background: #fafafa;
}

.textSection {
  max-width: 50%;
}

.textSection h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.textSection .jobTitle {
  font-size: 1.8rem;
  color: #007bff;
  font-weight: bold;
}

.textSection p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 1rem 0;
}
.p {
  font-weight: 400;
  font-size: large;
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.profileImage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
  }

  .textSection {
    max-width: 100%;
  }
}
