.container {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.textSection {
  max-width: 60%;
  flex: 1;
}

.jobTitle {
  font-weight: bold;
  color: #222;
}
.p {
  font-weight: 500;
  font-size: large;
  padding: 5% 0;
}

.imageSection {
  max-width: 40%;
}

.profileImage {
  width: 250px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  max-width: 100%;
}
