/* .button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
} */
.button {
  display: block;
  width: 100%;
  max-width: 300px; /* Limits how wide the button can get */
  margin: 1rem auto 0; /* Centers horizontally and adds top margin */
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
}
@media screen and (max-width: 600px) {
  button {
    width: 100%; /* Make the button full width */
  }
}
