.blogCard {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .blogCard {
    max-width: 100%; /* Full width on small screens */
    width: auto;
    padding: 15px;
    display: flex;
    flex-direction: row-reverse;
  }
}
